.footer {
  padding: 2rem 0 4rem;
  background-color: $dark-blue;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__socialNetwork {
    margin-bottom: 1.5rem;
    &--logo {
      margin: 0;
      margin-bottom: 1rem;
      @include media ('desktop-s') {
        margin-bottom: 4rem;
      }
    }
    &--share {
      display: flex;
      justify-content: center;
    }
    &--icon {
      margin-right: 1rem;
      @include media ('desktop-s') {
        margin-right: .5rem;
      }
    }
  }
  &__item {
    line-height: 2.5;
    a {
      color: $light-grayish-blue;
      text-decoration: none;
      &:hover {
        color: $lime-green;
      }
    }
  }
  &__support {
    margin-bottom: 1.5rem;
  }
  &__copyright {
    p {
      font-size: 80%;
      @include media ('desktop-s') {
        line-height: 1.5;
        width: 60%;
        margin-left: auto;
      }
      a {
        color: $grayish-blue;
      }
    }
    @include media ('desktop-s') {
      text-align: right;
      .button {
        margin-bottom: 1rem;
      }
    }
  }
  @include media ('desktop-s') {
    text-align: left;
    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
}